.about-wrapper {
    padding: 90px 50px;
}

.about-title,
.about-title-two {
    text-align: center;
    font-weight: 700;
}

.about-title {
    font-size: 35px;
}

.about-title-two {
    font-size: 40px;
    color: #FF4800;
    margin: 0 0 60px 0;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-logistic {
    background: #F2F2F4;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-logistic-img {
    flex-basis: 40%;
}

.about-logistic-content {
    flex-basis: 55%;
    position: relative;
}

.about-logistic-content-text {
    font-size: 18px;
    line-height: 1.4;
}

.about-logistic-img img {
    width: 100%;

}

.about-logistic-content-title {
    color: #FF4800;
    font-size: 30px;
}

.play-btn {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

@keyframes border-puls {
    0% {
        border-color: rgba(255, 72, 0, 1);
    }

    50% {
        border-color: rgba(0, 255, 255, 0);
    }

    100% {
        border-color: rgba(242, 242, 244, 1);
    }
}

.play-btn i {
    font-size: 30px;
    background: #FF4800;
    padding: 21px;
    border-radius: 50%;
    border: 10px solid #FF4800;
    animation: border-puls 2s infinite;
}

.play-btn-text {
    padding: 15px;
    font-size: 24px;
    font-weight: 600;
}

.about-team {
    position: relative;
    min-height: 300px;
    border-top: 2px solid #F2F2F4;
    width: 100%;
    padding: 30px;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.about-team-title {
    font-weight: 900;
    font-size: 38px;
    margin: 100px 0 50px 0;
}

@media all and (max-width:1500px) {
    .about-team {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media all and (max-width:1200px) {
    .about-team {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width:800px) {
    .about-logistic {
        display: flex;
        flex-direction: column;
    }

    .about-wrapper {
        padding: 20px 0;
        justify-items: center;
    }

    .about-team {
        gap: 0rem;
    }

    .about-team-title {
        font-size: 28px;
    }
}

@media all and (max-width:480px) {
    .about-team {
        grid-template-columns: repeat(1, 1fr);

    }
    .about-title,
    .about-title-two {
        font-size: 25px;
    }

    .about-logistic-content-title{
        text-align: center;
        font-size: 25px;
    }

    .about-logistic-content-text{
        font-size: 15px;
        text-align: center;
        padding: 5px;
    }
}