.about-team-member {
    background: #F2F2F4;
    width: 290px;
    text-align: center;
    padding-bottom: 10px;
    margin: 20px;
}


.about-team-member-img img {
    width: 100%;
}

@media all and (max-width:800px){
    .about-team-member {
        width: 170px;
    }
}

@media all and (max-width:480px){
    .about-team-member {
        width: 290px;
    }
}