.login-section {
    margin: 90px auto;
    width: 40%;
    background: #F2F2F4;
    box-shadow: 0px 0px 5px 3px lightgray;
}

.login-form {
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
}

.login-form-label {
    font-size: 24px;
    text-transform: capitalize;
    margin: 30px 0 10px 0;
    color: #FF4800;
    font-weight: 500;
}

.login-form-input {
    height: 40px;
    padding: 20px 30px;
}

.login-btn {
    margin: 30px auto 0 auto;
    padding: 10px;
    width: 200px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 800;
    color: white;
    background: #FF4800;
    border: none;
    border-radius: 15px;
}

.login-btn:hover {
    background: rgb(47, 255, 47);
    cursor: pointer;
    color: black;
}

.login-error {
    color: red;
    text-align: center;
    margin: 10px;
    font-size: 14px;
}

@media all and (max-width:1200px) {
    .login-section{
        width: 60%;
    }
}

@media all and (max-width:1024px) {
    .login-form {
        padding: 20px 50px;
    }
}

@media all and (max-width:800px) {
    .login-section{
        width: 80%;
    }
    .login-form {
        padding: 10px 40px;
    }

    .login-btn{
        font-weight: 600;
        width: 33%;
    }
}

@media all and (max-width:480px) {
    .login-section{
        width: 92%;
    }

    .login-form-label{
        font-size: 20px;
    }
}