.contacts-section {
    width: 90%;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
}

.contacts-phone {
    width: 45%;
    background: #FF4800;
    color: white;
}

.contacts-phone-wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
}

.contacts-phone-wrapper i {
    font-size: 30px;
    border: 5px solid white;
    border-radius: 50%;
    padding: 9px;
}


.contacts-phone-number {
    margin: 10px 0 10px 20px;
    font-size: 26px;
    font-weight: 700;
    text-decoration: underline;
}

.contacts-phone img {
    width: 100%;
    object-fit: cover;
}

.contacts-form-wrapper {
    width: 50%;
}

.contacts-form-pre-title {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #FF4800;
}

.contacts-form-title {
    font-size: 30px;
    font-weight: 600;
}

@media all and (max-width:1024px) {
    .contacts-form-title{
        font-size: 25px;
    }
}

@media all and (max-width:800px) {
    .contacts-section {
        flex-direction: column;
        align-items: center;
    }

    .contacts-form-title{
        font-size: 20px;
    }

    .contacts-phone {
        width: 98%;
    }

    .contacts-form-wrapper {
        width: 98%;
        margin-top: 25px;
    }

    .contacts-phone-number {
        font-size: 25px;
    }
}

@media all and (max-width:480px) {
    .contacts-phone-wrapper i{
        font-size: 17px;
        border: 3px solid white;
        padding: 7px;
    }

    .contacts-phone-number{
        font-size: 20px;
        font-weight: 400;
    }
}