.contacts-section {
    width: 90%;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
}

.contacts-phone {
    width: 45%;
    background: #FF4800;
    color: white;
}

.contacts-phone-wrapper {
    display: flex;
    align-items: center;
    padding: 22px;
}

.contacts-phone-wrapper i {
    font-size: 30px;
}


.contacts-phone-number {
    margin: 10px 0 10px 20px;
    font-size: 28px;
    font-weight: 700;
}

.contacts-phone img {
    width: 100%;
}

